.nav-extended {
    background-color: #64b5f6;
}

.brand-logo {
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-div {
    text-align: center;   
}

img {
    height: 200px;
    border: solid 12px #96c7f8;
}

.unread {
    color: #64b5f6;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: bold;
}

.time {
    margin-bottom: 10px !important;
    font-style: italic;
}

.text {
    text-align: center;
}

.material-icons {
    color: #64b5f6 !important;
    cursor: pointer;
}

.secondary-content {
    margin-top: -5px !important;
}

.markAll {
    color: #64b5f6;
    background: inherit !important;
}