.nav-extended {
    background-color: #64b5f6;
}

.brand-logo {
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-div {
    text-align: center;   
}

.nav-content {
    text-align: center;

    img {
        margin-top: 30px;
    }

    h1 {
        margin-top: 8px;
        padding-bottom: 70px;
    }
}

img {
    height: 200px;
    border: solid 12px #96c7f8;
}

.unread {
    color: #64b5f6;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: bold;
}

.time {
    margin-bottom: 10px !important;
    font-style: italic;
}

.text {
    text-align: center;
}

.material-icons {
    color: #64b5f6 !important;
    cursor: pointer;
}

.secondary-content {
    margin-top: -5px !important;
}

.markAll {
    color: #fff;
    background: #64b5f6 !important;
}

.material-icons {
    color: #fff !important;
}

.dropdown-content {
    width: 30% !important;

    img {
        border: solid 2px #96c7f8;
    }
}

.badge {
    min-width: 10px !important;
    color: #fff;
    background-color: red !important;
    border-radius: 50% !important;
    height: 25px;
    margin-top: -53px;
    margin-left: 18px;
}